{% extends 'base.html' %}

{% block pagetitle  %}Edit Tags{% endblock %}
{% block primary %}
<h2>{{taglist|length}} Tag{{taglist|length|pluralize}} for: {{media}}</h2>
    <table>
        <tr>
            <th>Tag</th>
        </tr>
        {% for tag in taglist %}
            <tr class="{% cycle 'odd' 'even' %}" >
                <td><select>
                    {% for t in alltags %}
                        {% if t.name == tag.name %}
                            <option selected>
                        {% else %}
                            <option>
                        {% endif %}
                        {{ t.name }}</option>
                    {% endfor %}
                </select></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

<select>
  <option>Milk</option>
  <option>Coffee</option>
  <option>Tea</option>
</select>